body {
  background: black;
}

h1 {
  padding: 20px;
}

ul#horizontal-list {
	padding-top: 20px;
	}
ul#horizontal-list li {
	display: inline;
  padding: 20px;
  color: white;
}

#gallery h2 {
  color: white;
}
img {
  padding: 20px;
}

#video {
  color: white;
}
#footer {
  color: white;
}
